p,
ul,
li,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  border-radius: 4px;
}

body {
  font-family: "Roboto", BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu,
 Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer {
  background-color: var(--backgroundColorBlack);
  padding: 60px 0px;
}

.footer a {
  text-decoration: none;
}

.footerContainer {
  display: flex;
  list-style-type: none;
}

.item-social {
  margin-left: 70px;
}

.footerIconsContainer {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 24px;
  padding: 0px;
  margin-top: 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address li + li {
  margin-top: 9px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* 
================================================================================================= */

.address a{

  &:hover, .address a:focus {
  text-decoration: none;
  color: white;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

/* 
================================================================================================= */
.address span {
  color: #ffffff;
}

.address a {
  color: rgba(255, 255, 255, 0.6);
}

.address p {
  color: #ffffff;
}

.item-email {
  margin-left: 93px;
}

.emailContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.emailContainerInput {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 16px;
  width: 332px;
  max-width: 358px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--backgroundColorBlack);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

.emailContainerButton {
  margin-left: 12px;
  padding: 10px 29px;
  max-width: 200px;
  background-color: var(--highlightColor);
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.emailContainerButton svg {
  margin-left: 10px;
  fill: #ffffff;
}

.emailContainerButton p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.emailContainerButton:focus, .emailContainerButton:hover {
  background-color: #1e7dca;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  border-bottom: 1px solid #ececec;
}

.mainBox {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.main-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-nav {
  display: flex;
  margin-left: 93px;
}

.menu-nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav a:hover, .menu-nav a:focus {
  color: var(--highlightColor);
}

.menu-nav li {
  text-decoration: none;
}

.menu-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  padding-bottom: 32px;
  padding-top: 32px;
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icons {
  display: in-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.contacts .item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contacts .item.item:not(:last-child) {
  margin-right: 50px;
}

.contacts .item a:hover,
.contacts .item a:focus,
.contacts .item a:hover svg,
.contacts .item a:focus svg {
  fill: var(--highlightColor);
  color: var(--highlightColor);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-main::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  display: block;
}

.link {
  position: relative;
}

:root {
  --backgroundColorBlack: #2f303a;
  --highlightColor: #2196f3;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.body .section + .section {
  margin-top: 0px;
  padding-top: 94px;
}

.paddingKostyl {
  padding-bottom: 0px;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 5px;
}

.btn-open {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 5px;
  top: 5px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.btn-open :hover, .btn-open :focus {
  fill: var(--highlightColor);
}

.modal-label {
  display: flex;
  flex-direction: column;
  height: 58px;
  padding: 0 40px;
}

.modal-title {
  padding: 40px 40px 12px 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-subText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  box-sizing: border-box;
  color: #757575;
  margin-bottom: 4px;
}

.modal-input-container {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
}

.modal-inputs {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  padding-left: 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-inputs-icons {
  position: absolute;
  display: block;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.modal-inputs:hover, .modal-inputs:focus, .modal-textarea:focus, .modal-textarea:hover {
  border: 1px solid #2196F3;
  outline: none;
}

.modal-inputs:focus ~ .modal-inputs-icons {
  fill: #2196F3;
}

.modal-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}

.termsuse-text {
  display: flex;
  margin: 0;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 7px;
}

.termsuse-text::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 5px;
}

.check:checked + .termsuse-text::before {
  background-color: #2196F3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border: none;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  padding: 2px;
  background-size: contain;
}

.check {
  display: none;
  width: 15px;
  height: 15px;
}

.terms-link {
  margin-left: 5px;
  text-decoration-line: underline;
  color: #2196F3;
}

.terms-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.terms-link {
  margin-left: 5px;
  text-decoration-line: underline;
  color: #2196F3;
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button {
  margin-top: 15px;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  border: 0px;
  cursor: pointer;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 187%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.send-button:hover, .send-button:focus {
  background: #188ce8;
}

.list-social {
  display: flex;
  justify-content: center;
}

.list-social a + a {
  margin-left: 10px;
}

.icon-social {
  display: flex;
  content: "";
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-size: 20px 20px;
  border-radius: 50%;
  border: 0px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teamIconFill {
  fill: #AFB1b8;
}

.teamIconBackground {
  background-color: #ffffff;
}

.icon-social:hover .teamIconFill,
.icon-social:focus .teamIconFill {
  fill: #ffffff;
}

.icon-social:hover,
.icon-social:focus {
  background-color: var(--highlightColor);
}

.icon-social:nth-child(1) {
  background-image: url(../images/instagram.svg);
}

.icon-social:nth-child(2) {
  background-image: url(../images/twitter.svg);
}

.icon-social:nth-child(3) {
  background-image: url(../images/facebook.svg);
}

.icon-social:nth-child(4) {
  background-image: url(../images/linkedin.svg);
}

.list-social-footer {
  margin-top: 20px;
}

.icon-social-footer {
  fill: #ffffff;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.logo span {
  color: var(--highlightColor);
}

.logo a {
  text-decoration: none;
}

.topLogo a {
  color: #000000;
}

.bottomLogo a {
  color: #ffffff;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 00.02em;
}

.sub-title {
  margin-bottom: 10px;
}

.activities {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
}

.activities li {
  display: inline-block;
  text-align: center;
  margin-left: 30px;
}

.activities li:first-child {
  margin: 0;
}

.activitiesList {
  margin-left: -30px;
}

.activitiesThumb {
  position: relative;
  display: inline-flex;
}

.activitiesOverlay {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 27px 0px;
  background-color: rgba(47, 48, 58, 0.8);
  line-height: 16.41px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

.client-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-item a {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  padding: 16px 32px;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item a :hover {
  border-color: #2196f3;
}

.client-item svg {
  fill: #afb1b8;
  display: block;
  margin: auto;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item svg :hover {
  fill: #2196f3;
}

.client-title {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
}

.client-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.client-item a:hover,
.client-item:focus,
.client-item:hover svg,
.client-item:focus svg {
  border-color: var(--highlightColor);
  fill: var(--highlightColor);
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.hat {
  background-color: var(--backgroundColorBlack);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/hat_bg.png);
  background-size: contain;
}

.hatContainer {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hat button {
  width: 200px;
  height: 50px;
  margin-top: 40px;
  font-family: -Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border: 0px;
  background-color: var(--highlightColor);
}

.hat button:hover, .hat button:focus {
  background-color: #1e7dca;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hat h1 {
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-align: center;
}

.specifications {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.specifications li {
  text-decoration: none;
  display: block;
  margin-left: 30px;
  max-width: 270px;
}

.specifications h3 {
  margin-top: 30px;
  font-weight: 700;
  line-height: 171%;
  color: #212121;
  font-size: 14px;
  font-style: normal;
}

.specifications p {
  font-weight: 400;
  line-height: 171%;
  color: #757575;
  font-size: 14px;
  font-style: normal;
}

.icon-specification {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  content: "";
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
}

.team p {
  font-weight: normal;
  font-size: 16px;
  color: #757575;
  line-height: 18.75px;
  margin-top: 10px;
}

.team h4 {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}

.team li:first-child {
  margin-left: 0px;
}

.teamList {
  margin-left: -30px;
}

.teamList li {
  display: inline-block;
  text-align: center;
  margin-left: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.teamSectionFIx {
  background-color: #f5f3fa;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/*# sourceMappingURL=indexMain.css.map */
