p,
ul,
li,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  border-radius: 4px;
}

body {
  font-family: "Roboto", BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer {
  background-color: var(--backgroundColorBlack);
  padding: 60px 0px;
}

.footer a {
  text-decoration: none;
}

.footer__Container {
  display: flex;
  list-style-type: none;
}

.item__social {
  margin-left: 70px;
}

.footer__Icons__Container {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 24px;
  padding: 0px;
  margin-top: 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address li + li {
  margin-top: 9px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address a:hover, .address a:focus {
  text-decoration: none;
  color: white;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address span {
  color: #ffffff;
}

.address a {
  color: rgba(255, 255, 255, 0.6);
}

.address p {
  color: #ffffff;
}

.footer__item__email {
  margin-left: 93px;
}

.footer__email_Container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__email__Input__Container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 16px;
  width: 332px;
  max-width: 358px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--backgroundColorBlack);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

.footer__email__Button__Container {
  margin-left: 12px;
  padding: 10px 29px;
  max-width: 200px;
  background-color: var(--highlightColor);
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.footer__email__Button__Container svg {
  margin-left: 10px;
  fill: #ffffff;
}

.footer__email__Button__Container p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.footer__email__Button__Container:focus, .footer__email__Button__Container:hover {
  background-color: #1e7dca;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  border-bottom: 1px solid #ececec;
}

.header__mainBox {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.header__main__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__menu__nav {
  display: flex;
  margin-left: 93px;
}

.header__menu__nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu__nav a:hover, .header__menu__nav a:focus {
  color: var(--highlightColor);
}

.header__menu__nav li {
  text-decoration: none;
}

.header__menu__nav .item:not(:last-child) {
  margin-right: 50px;
}

.header__contacts {
  display: flex;
  margin-left: auto;
}

.header__contacts a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  padding-bottom: 32px;
  padding-top: 32px;
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts-icons {
  display: in-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.header__contacts .item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.header__contacts .item.item:not(:last-child) {
  margin-right: 50px;
}

.header__contacts .item a:hover,
.header__contacts .item a:focus,
.header__contacts .item a:hover svg,
.header__contacts .item a:focus svg {
  fill: var(--highlightColor);
  color: var(--highlightColor);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-main::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  display: block;
}

.link {
  position: relative;
}

:root {
  --backgroundColorBlack: #2f303a;
  --highlightColor: #2196f3;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.body .section + .section {
  margin-top: 0px;
  padding-top: 94px;
}

.paddingKostyl {
  padding-bottom: 0px;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 5px;
}

.btn-open {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 5px;
  top: 5px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.btn-open :hover, .btn-open :focus {
  fill: var(--highlightColor);
}

.modal__label {
  display: flex;
  flex-direction: column;
  height: 58px;
  padding: 0 40px;
}

.modal__title {
  padding: 40px 40px 12px 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__subText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  box-sizing: border-box;
  color: #757575;
  margin-bottom: 4px;
}

.modal__input__container {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
}

.modal__inputs {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  padding-left: 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__inputs__icons {
  position: absolute;
  display: block;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.modal__inputs:hover, .modal__inputs:focus, .modal__textarea:focus, .modal__textarea:hover {
  border: 1px solid #2196F3;
  outline: none;
}

.modal__inputs:focus ~ .modal__inputs__icons {
  fill: #2196F3;
}

.modal__checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}

.termsuse__text {
  display: flex;
  margin: 0;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 7px;
}

.termsuse__text::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 5px;
}

.check:checked + .termsuse__text::before {
  background-color: #2196F3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border: none;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  padding: 2px;
  background-size: contain;
}

.check {
  display: none;
  width: 15px;
  height: 15px;
}

.terms__link {
  margin-left: 5px;
  text-decoration-line: underline;
  color: #2196F3;
}

.terms__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.terms__link {
  margin-left: 5px;
  text-decoration-line: underline;
  color: #2196F3;
}

.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.send__button {
  margin-top: 15px;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  border: 0px;
  cursor: pointer;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 187%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.send__button:hover, .send__button:focus {
  background: #188ce8;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__list a + a {
  margin-left: 10px;
}

.social__icon {
  display: flex;
  content: "";
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-size: 20px 20px;
  border-radius: 50%;
  border: 0px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon :hover .team__Icon__Fill,
.social__icon :focus .team__Icon__Fill {
  fill: #ffffff;
}

.social__icon:hover, .social__icon :focus {
  background-color: var(--highlightColor);
}

.social__icon:nth-child(1) {
  background-image: url(../images/instagram.svg);
}

.social__icon:nth-child(2) {
  background-image: url(../images/twitter.svg);
}

.social__icon:nth-child(3) {
  background-image: url(../images/facebook.svg);
}

.social__icon:nth-child(4) {
  background-image: url(../images/linkedin.svg);
}

.team__Icon__Fill {
  fill: #AFB1b8;
}

.team__Icon__Background {
  background-color: #ffffff;
}

.social__list__footer {
  margin-top: 20px;
}

.social__icon__footer {
  fill: #ffffff;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.logo span {
  color: var(--highlightColor);
}

.logo a {
  text-decoration: none;
}

.top__Logo a {
  color: #000000;
}

.bottom__Logo a {
  color: #ffffff;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 00.02em;
}

.sub-title {
  margin-bottom: 10px;
}

.portfolio__Container__Fix {
  padding-top: 94px;
  padding-bottom: 94px;
}

.selection__porfolio {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.selection__porfolio li:not(:last-child) {
  margin-right: 8px;
}

.selection__porfolio button {
  font-family: Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f3fa;
  color: #212121;
  text-align: center;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  font-size: 16px;
  border: none;
  padding-inline: 22px;
  padding-bottom: 6px;
  padding-top: 6px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.selection__porfolio button:hover, .selection__porfolio button:focus {
  background-color: var(--highlightColor);
  color: #ffffff;
}

.selection__menu {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  margin-left: -30px;
}

.porftolio__Item {
  text-decoration: none;
  background-color: #ffffff;
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
  background: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porftolio__Item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.text__Box__For__Portfolio {
  margin-top: 0;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-top: 0 solid #eeeeee;
}

.selection__menu h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.selection__menu p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

.portfolio__Menu__Thumb {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0;
}

.portfolio__Menu__Overlay {
  margin: 0;
  position: absolute;
  bottom: 0px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  padding: 0 24px;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  line-height: 28px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  letter-spacing: 0.03em;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.porftolio__Item:hover .portfolio__Menu__Overlay {
  transform: translateY(0%);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/*# sourceMappingURL=portfolioMain.css.map */