.portfolio__Container__Fix {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .selection__porfolio {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    & li:not(:last-child) {
      margin-right: 8px;
    }

    & button {
      font-family: Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
      background-color: #f5f3fa;
      color: #212121;
      text-align: center;
    
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0.03em;
      font-size: 16px;
    
      border: none;
      padding-inline: 22px;
      padding-bottom: 6px;
      padding-top: 6px;
    
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    & button:hover , button:focus {
      background-color: var(--highlightColor);
      color: #ffffff;
    }
    
  }
  
  .selection__menu {
    font-family: "Roboto", sans-serif;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    margin-left: -30px;
  }
  
  .porftolio__Item {
    text-decoration: none;
    background-color: #ffffff;
    margin-left: 30px;
    margin-top: 30px;
  
    width: 370px;
  
    background: #ffffff;
    box-sizing: border-box;
    overflow: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .porftolio__Item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  .text__Box__For__Portfolio {
    margin-top: 0;
    padding: 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-top: 0 solid #eeeeee;
  }
  
  .selection__menu {
     & h3 {
      font-weight: 700;
      font-size: 18px;
      line-height: 36px;
      letter-spacing: 0.06em;
    }
    & p {
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.03em;
      color: #757575;
    
      margin-top: 4px;
    }
  }
  
  .portfolio__Menu__Thumb {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0;
  }
  
  .portfolio__Menu__Overlay {
    margin: 0;
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
  
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-weight: normal;
    padding: 0 24px;
    height: 100%;
    width: 100%;
  
    background-color: rgba(33, 150, 243, 0.9);
    line-height: 28px;
  
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(33, 150, 243, 0.9);
  
    letter-spacing: 0.03em;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
  }
  
  .porftolio__Item:hover .portfolio__Menu__Overlay {
    transform: translateY(0%);
  }
  