
.logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;

    & span {
      color: var(--highlightColor);
    }
    & a {
      text-decoration: none;
    }
  }
  .top__Logo {
    & a {color: #000000;}
  }
  .bottom__Logo {
    & a {
      color: #ffffff;
      margin-bottom: 20px;
    }
  }