.footer {
    background-color: var(--backgroundColorBlack);
    padding: 60px 0px;

    & a{
      text-decoration: none;
    }
  }

  .footer__Container {
    display: flex;
    list-style-type: none;
  }
  .item__social {
    margin-left: 70px;
  }
  
  .footer__Icons__Container {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
  
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 24px;
    padding: 0px;
    margin-top: 20px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    & li+li{
      margin-top: 9px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    & a:hover,a:focus{
      text-decoration: none;
      color: rgba(255, 255, 255, 1);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    & span{
      color: #ffffff;
    }
    & a{
      color: rgba(255, 255, 255, 0.6);
    }
    & p{
      color: #ffffff;
    }
  }


  
  .footer__item__email {
    margin-left: 93px;
  }
  .footer__email_Container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .footer__email__Input__Container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 16px;
    width: 332px;
    max-width: 358px;
  
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--backgroundColorBlack);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
  }
  .footer__email__Button__Container {
    margin-left: 12px;
    padding: 10px 29px;
    max-width: 200px;
    background-color: var(--highlightColor);
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    & svg{
      margin-left: 10px;
      fill: #ffffff;
    }

    & p{
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 30px;
    
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;
    }

    
  }

.footer__email__Button__Container:focus,.footer__email__Button__Container:hover{
    background-color: rgba(30, 125, 202, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  